<p>stylebinding works!</p>
<h1 [style.color]="mycolor">Apply Style Binding</h1>
<h1 [style.color]="rating<4? 'red':'green'">Apply Style Binding</h1>
<div [ngStyle]="jsonObj">Apply ngStyle attribute directive to div tag</div>
<hr>
<table>
    <tr>
      <th>Name</th>
      <th>Age</th>  
      <th>Country</th>
    </tr>
    <tr>
      <td>Harry Depp</td>
      <td>28</td>
      <td>Britain</td>
    </tr>
    <tr bgcolor="pink">
      <td>John Smith</td>
      <td>35</td>
      <td>USA</td>
    </tr>
    <tr>
      <td>Ram Krishna</td>
      <td>19</td>
      <td>Nepal</td>
    </tr>
  </table>
  <hr>
  <a href="../../assets/home.mp4
  ">Home</a><br>
  <a href="https://www.youtube.com/">Youtube</a>