<p><b>eventbinding works!</b></p>
<button (click)="onClick()">CLICK</button>
<hr>
<img (click)="onImg()" title="click Image"
 src="../../assets/Bhumi.webp"> <hr>

 <!-- <template refrance variable></template> -->
 <input #inputname type="text" placeholder="Enter Name"><br>
 <button (click)="onSend(inputname)">SEND</button><br><br>
 <i><u><b>Addition/div/sub of two Number</b></u></i><hr>

 <input #num1 type="text" placeholder="Enter Num1"><br>
 <input #num2 type="text" placeholder="Enter num2"><br>
 <button (click)="onAddition(num1.value,num2.value)">ADD</button>
<input type="text"[value]="result" placeholder="Result"><hr>

<input (change)="onChange()">
<input (keyup)="onKeyup()">
<input (keydown)="onKeydown()">


