<p>property-binding works!</p>
<h1>Wellcome</h1>
<h1><input type="text" [value]="name"></h1>
<img id="myimg" [src]="imgUrl" alt="">
<div [hidden]="ishidden">Dugga Mundre</div>

    <hr>
    <table border="1px" >
        
        <tr >
            <th >Numbers</th>
        </tr>
            <tr>
            <td [attr.colspan]="mycol"bgcolor="skyblue">One</td>
            </tr>
        <tr bgcolor="green">
            <td>Two</td>
            <td>Three</td>
            <td>Four</td>
            <td>Five</td>
            <td>Six</td>
            </tr>
        
    </table>

