<!-- <h1><b><i><u>HAPPY Birthday Aadarsh<small>Buddha bless You..!!!</small></u></i></b> </h1>
<h2><i>From Mundre Family..!</i></h2>

<img src="../../assets/Aadu1.jpg">
<img src="../../assets/Aadu2.jpg">
<video src="../../assets/cake.mp4"></video>
<img src="../../assets/Aadu3.jpg">
<img src="../../assets/Aadu4.jpg"> -->

<!-- <app-student></app-student> -->
<!-- <app-task1></app-task1> -->
<!-- <app-task2></app-task2> -->
<!-- <app-task3></app-task3> -->
<!-- <app-demo></app-demo> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-flipcart></app-flipcart> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <eventBinding></eventBinding> -->
<!-- <app-two-way-databinding></app-two-way-databinding> -->
<!-- <app-if-derivative></app-if-derivative> -->
<!-- <app-for-derective></app-for-derective> -->
<!-- <app-task5></app-task5> -->
<!-- <app-switch-derective></app-switch-derective> -->
<!-- <app-task4></app-task4> -->
<!-- <app-task9></app-task9> -->
<!-- <app-task7></app-task7> -->
<!-- <app-parent1></app-parent1> -->
<!-- <app-parent2></app-parent2> -->
<!-- <app-parent3></app-parent3> -->
<!-- <app-custompipe></app-custompipe> -->
<!-- <app-course></app-course> -->
<!-- <app-post></app-post> -->
<!-- <router-outlet></router-outlet> -->
<app-home></app-home>
<!-- <app-product></app-product> -->
<!-- <app-demofdc></app-demofdc> -->

