<table >
    <tr bgcolor="pink">
      <th>Name</th>
      <th>QTY</th>  
      <th>Price</th>
    </tr>
    <tr>
      <td>Oil Bhumi</td>
      <td>15 kg/1</td>
      <td>1600</td>
    </tr>
    <tr>
      <td>Charger</td>
      <td>1</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Ande</td>
      <td>1</td>
      <td>180</td>
    </tr>
  </table><hr>
  <ol type="a">
    <li>Bhumi Oil</li>
    <img id="myimg" [src]="imgUrl" alt="Bhumi">
    <li>Charger</li>
    <img id="myimg1" [src]="imgUrl1" alt="cable">
    <li>Ande</li>
    <img id="myimg2" [src]="imgUrl2" alt="ande">
  </ol>
 