<h1>From Mundre Family..!</h1>
<img src="../../assets/Buddha.jpg" alt="jay"><br>
<hr>
<h4>{{title}}</h4><br>
<input #inputdta type="number" name="number" placeholder="Mobile number or email address"><br>
<input #inputdta2 type="password" name="password" placeholder="password"><br>
<button (click)="onClick(inputdta.value,inputdta2.value)">Log</button>
<small>Forgotten password?<br>
    ---------or----------</small><br>
    <h4><a target="_blank" href="https://www.jiocinema.com/">TV</a></h4>
<div>
<br>
    <button>Create New Account</button>
    
    </div>

<h3>UserID ::{{username}}</h3>
<h3>PassWord ::{{password}}</h3>